<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MouseSteeringWheel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MouseSteeringWheel.Properties.Settings>
            <setting name="vJoyDeviceId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="UIStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UIScaleFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UIYAxisOffset" serializeAs="String">
                <value>576</value>
            </setting>
            <setting name="PauseJoystickHotkey" serializeAs="String">
                <value>NumPad8</value>
            </setting>
            <setting name="OpenSettingWindowHoykey" serializeAs="String">
                <value>Add</value>
            </setting>
            <setting name="ResetJoystickHotkey" serializeAs="String">
                <value>Ctrl+R</value>
            </setting>
            <setting name="ModifierKeyArrayString" serializeAs="String">
                <value>None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None</value>
            </setting>
            <setting name="HotKeyArrayString" serializeAs="String">
                <value>None;NumPad1;NumPad2;NumPad3;NumPad5;NumPad7;NumPad4;NumPad9;NumPad6;Home;End;Delete;Next;PageUp;Insert;Up;Down;Left;Right;Divide;Multiply;Subtract;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;None;P;S;R</value>
            </setting>
            <setting name="XAxisEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XAxisSensitivity" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="XAxisNonlinear" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="XAxisDeadzone" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="YAxisEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="YAxisSensitivity" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="YAxisNonlinear" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="YAxisDeadzone" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LastButtonID" serializeAs="String">
                <value>1</value>
            </setting>
        </MouseSteeringWheel.Properties.Settings>
    </userSettings>
</configuration>
